# .NET Core
bin/
obj/
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log
*.txt

# Startups
launchSettings.json

# Database
*.sqlite
*.db
*.mdf
*.ldf

# OS
.DS_Store
Thumbs.db
